<style>
.myLogo{
   
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.myLogo h2{
   margin-top: 1vw;
   color:#0081AF;
   font-family: 'Courgette', cursive;

   }
   .myLogo img{
    border-radius: 100%;
    box-shadow: 0 0.1rem 0.8rem rgba(0, 0, 0, 0.4);
   }
   
</style>
<a class="myLogo" href="#">
    <img  src="imagens/logo.svg" width="100px" style="color: #0081AF;" alt="">
    <h2>Mateus Faustino</h1>
</a>
  