@import url("https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.12.0-2/css/all.min.css");
* {
    margin: 0;
    padding: 0;
    list-style: none;
    text-decoration: none;
    font-family: sans-serif;
  }

  html{
    /*A propriedade scroll-behaviour especifica se a posição de rolagem deve ser animada suavemente,
    em vez de um salto direto, quando o usuário clica em um link dentro de uma caixa rolável.*/
    scroll-behavior: smooth;
  }
  .conteudo{
    padding: 10% 10% 10% 10%;
    
    box-shadow: 0 2px 5px 2px rgba(0,0,0,.5);
  }

  /*Aqui todos os estilos referentes ao Hamburger*/
  .hamburguer { 
    width: 2rem;
    height: 2rem;
    position: fixed;
    z-index: 100;
    right: 2rem;
    top: 2rem;
    display: none;
    flex-direction: column;
    justify-content: space-evenly;
    cursor: pointer;
  }

  .show-menu .hamburguer {
    right: 16rem;
  }

  .line {
    width: 100%;
    height: 0.3rem;
    background-color: #fff;
    box-shadow: 0.1rem 0.1rem 1px #000;
    transition: transform 1s;
    border-bottom: solid 0.5px #222;
  }

  .show-menu #line1 {
    transform: rotate(45deg) translate(0.3rem, 0.45rem);
  }
  .show-menu #line2 {
    opacity: 0;
    visibility: hidden;
  }
  .show-menu #line3 {
    transform: rotate(-45deg) translate(0.3rem, -0.45rem);
  }
  
  .hamburguer span {
    position: absolute;
    left: 3rem;
    height: 2rem;
    width: 6rem;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: white;
    color: #0081AF;
    font-family: var(--font-action);
    opacity: 0;
  }
  
  .hamburguer span::before {
    content: "";
    position: absolute;
    border-right: 0.5rem solid white;
    border-top: 0.5rem solid transparent;
    border-left: 0.5rem solid transparent;
    border-bottom: 0.5rem solid transparent;
    left: -1rem;
  }
  
  .show-menu .hamburguer:hover span {
    opacity: 1;
  }

/*Aqui todo o estilo referente ao cabeçalho*/
  header {
    width: 100%;
    height: 100vh;
    overflow: hidden;
    position: relative;
  }
  #myNavBar{
    display: flex;
    background-color: #d6d6d6ff;
    justify-content: space-between;
    padding-right: 100px;
    box-shadow: 0 4px 2px -2px black;
  }
  .myLogo{
    margin: 20px;
  }
  .nav-links-nav{
    display: flex;
    justify-content: flex-end;
    align-items: center;

  }
  .nav-links-nav li{
    margin: 20px;
    
  }
  .nav-links-nav li a{
    color: black;
    
  }
  

  .img-wrapper {
    width: 100%;
    height: 100%;
    overflow: hidden;
    background-color: rgba(0, 0, 0, 0.8);
    
  }
  
  .img-wrapper img {
    width: 110%;
    height: 100%;
    object-fit: cover;
    opacity: 0.8;
    object-position: right;
    animation: zoom 25s;
    
  }

  /*Efeito do banner se aproximando*/
  @keyframes zoom {
    0% {
      transform: scale(1.3);
    }
    100% {
      transform: scale(1.1);
    }
  }

  .banner {
    position: absolute;
    top: 25%;
    left: 15%;
  }
  .titulo{
    
    font-weight: bold;
    margin-bottom: 2vw;
    opacity: 0;
    font-family: sans-serif;
  }
  #hello{
    font-size: 7vw;
    color: black;
    animation: moveBanner 2s 0.5s forwards;
  }
  #iam{
    font-size: 7vw;
    color: black;
    animation: moveBanner 1.5s 0.5s forwards;
  }
  #mateus{
    font-size: 7vw;
    color:#0081AF;
    animation: moveBanner 1s 0.5s forwards;
  }

  @keyframes moveBanner {
    0% {
      transform: translateY(10rem) rotateY(-30deg);
      
    }
    100% {
      transform: translateY(0) rotateY(0);
      opacity: 1;
    }
  }
/*Aqui todos os estilos referentes a barra lateral*/
  .sidebar {
    width: 20rem;
    height: 100vh;
    background-color: #0081AF;
    position: fixed;
    top: 0;
    right: -20rem;
    transition: all 1s;
    z-index: 80;
    display: none;
  }
  
  .show-menu .sidebar {
    right: 0;
  }

  .menu {
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
    
  }

  .menu-item {
    text-align: center;
    margin-bottom: 0.5rem;
  }
  
  .menu-link {
    font-family: var(--font-action);
    font-size: 2rem;
    color: #fff;
    transition: color 1s;
   
  }
  
  .menu-link:hover {
    color: #0081AF;
  }

  .social-media {
    position: absolute;
    bottom: 2rem;
    width: 100%;
    display: flex;
    justify-content: space-evenly;
  }
  
  .social-media i {
    background-color: #0081AF;
    color: rgba(255, 255, 255, 1);
    height: 2.5rem;
    width: 2.5rem;
    font-size: 1.5rem;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    transition: background-color 1s;
  }
  
  .social-media i:hover {
    background-color:darkviolet;
  }

  /*Aqui todos os estilos referentes a seção de Conhecimentos*/
  .conhecimentos {
    height: 100%;
    display: grid;
    grid-template-columns: repeat(16, 1fr);
    grid-template-rows: repeat(6, 6rem);
    row-gap: 0.5rem;
  }

  .areas{
    display: flex;
    flex-direction: column;
  }
  .area-header{
    cursor: pointer;
    padding: 10px;
    border-bottom: solid 1px #0081AF   ;
    padding-top: 20px;
    
  }
  .area-header h3{
    color: black;
    font-size: 2rem;
    
  }
  .myConhecimentos{
    height: 100%;
    display: grid;
    grid-template-columns: repeat(auto-fit,300px);
    row-gap: 0.5rem;
    margin: auto;
    padding: 20px 70px 40px 70px;
  }
  .conhecimento{
    margin-top: 30px;
    margin-right: 20px;
    background-color: white;
    
    border-radius: 10px;
    padding: 10px;
    min-height: 200px;
    box-shadow: 0 0.4rem 0.5rem rgba(0, 0, 2, 2);
    

  }
  
  .sessao-conhecimentos {
    background-color: #d6d6d6ff;
    height: 100%;
    padding-top: 5%;
  }
  
  .sessao-header {
    display: flex;
    align-items: center;
    justify-content: center;
  }
 
  .sessao-header h2 {
    font-family: var(--font-primary);
    font-size: 3rem;
    color:black;
    
    margin-bottom: 1.5rem;
  }
  
  .conhecimento-header {
    display: flex;
    align-items: center;
    color: #0081AF;
    cursor: pointer;
    
  }
  
  .conhecimento-header i {
    font-size: 2.5rem;
  }
  
  .conhecimento-header h3 {
    font-family: var(--font-secundary);
    font-size: 2rem;
    padding-left: 1rem;
  }
  
  .conhecimento-text {
    font-family: var(--font-secundary);
    margin-top: 1rem;
    color:black;
    font-size: 17px;
   
  }

  
  .conhecimentos-img-wrapper {
    grid-column: 7 / 11;
    grid-row: 2 / 6;
    width: 80%;
    height: 80%;
    
  }
  
  .conhecimentos-img-wrapper img {
    object-fit: cover;
    height: 80%;
    
  }

  /*Aqui todos os estilos referentes a seção de projetos*/
  .projetos {
    height: 100%;
    display: grid;
    grid-template-columns: repeat(auto-fit,300px);
    row-gap: 0.5rem;
    margin: 20px;
    padding: 20px 70px 40px 70px;
  }
  
  .card {
    width: 18rem;
    height: 25rem;
    position: relative;
  }
  
  .card-img-wrapper {
    width: 100%;
    height: 100%;
    background-color: #262626;
    border-radius: 0.5rem;
  }
  
  .card-img-wrapper img {
    object-fit: cover;
    width: 100%;
    height: 100%;
    border-radius: 0.5rem;
    opacity: 0.8;
    transition: opacity 0.3s;
  }
  
  .card:hover .card-img-wrapper img {
    opacity: 0.5;
  }
  
  .card-info {
    position: absolute;
    bottom: 0;
    opacity: 0;
    visibility: hidden;
    padding: 2rem;
    text-shadow: 0.3rem 0.2rem 0.3rem rgba(0, 0, 0, 0.6);
    transition: all 0.3s;
  }
  
  .card-info h2 {
    font-family: var(--font-primary);
    font-size: 2rem;
    font-weight: 500;
    color: #eee;
  }
  
  .card-info h3 {
    font-family: var(--font-action);
    font-weight: bolder;
    color: #ff4081;
    margin-bottom: 1.5rem;
  }
  
  .card-info p {
    font-family: var(--font-secundary);
    color: #eee;
    font-weight: 400;
    width: 80%;
    margin-bottom: 2rem;
  }
  
  .btn {
    background: #0081AF;
   
    font-family: var(--font-action);
    color: #eee;
    border-radius: 0.5rem;
    border: none;
    box-shadow: 0 0.1rem 0.8rem rgba(0, 0, 0, 0.4);
  }
  
  .card-info button {
    width: 8rem;
    height: 2.5rem;
  }
  
  .card:hover .card-info {
    bottom: 2rem;
    opacity: 1;
    visibility: visible;
  }
 

  @keyframes moveText {
    0% {
      transform: translateY(-5rem) rotateY(-30deg);
      
    }
    100% {
      transform: translateY(0) rotateY(0);
      opacity: 1;
      bottom: 2rem;
      opacity: 1;
      visibility: visible;
    }
  }
/*Aqui todos os estilos referentes a seção sobre mim*/  
  .sobremim{
    
    display: flex;
    flex-direction: column;
    
  }
  .sobremim-container{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    align-items: flex-end;
    margin-bottom: 50px;
    
  }
  .sobremim-linhas{
    display: flex;
    flex-direction: column;
    justify-content: center;
    flex-wrap: wrap;
    align-items: flex-start;
  }
  .sobremim-resumo-container p{

    max-width: 500px;
    margin: 20px 0px 0px 20px;
    font-size: 18px;

    font-family: 'Roboto','Lato',Helvetica,Arial,Lucida,sans-serif;
    
  }
  .sobremim-text-header{
    margin: 30px 0px 0px 20px;
    
  }
  .sobremim-text-header h3{
    font-size: 25px;
    
  }
  .text-container{
    display: flex;
    flex-direction: column;
  }
  .text-container p{

    margin: 10px 0px 0px 20px;
    font-size: 16px;
    font-family: 'Roboto','Lato',Helvetica,Arial,Lucida,sans-serif;
    color:rgba(0, 0, 0, 0.9)
    
  }
  
  .sobremim-container img{
    width:100%;
    max-width: 300px;
  }
  



/*Aqui todos os estilos referentes a seção de contato*/
  #contato{
    background-color: #F7F8F9;
  }
  .sessao-contato {
    width: 100%;
    height: 100vh;
    background-color: #272727;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  .contato-wrapper {
    width: 60%;
    height: 30rem;
    display: flex;
    box-shadow: 0 2rem 3rem rgba(0, 0, 0, 0.5);
  }
  
  .contato-left {
    width: 35%;
    background: linear-gradient(rgba(15, 15, 15, 0.6), rgba(22, 22, 22, 0.9)),
      url(../imagens/contato.jpg);
    background-size: cover;
  }
  
  .contato-right {
    width: 65%;
    background-color: #eee;
    padding: 1rem 3rem 3rem 3rem;
  }
  
  .sessao-contato h2 {
    width: 100%;
    text-align: center;
    font-family: var(--font-primary);
    color: #272727;
    font-size: 3rem;
    font-weight: lighter;
  }
  
  .sessao-contato form {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  .input-group {
    position: relative;
  }
  
  .field {
    background: transparent;
    border: none;
    width: 20rem;
    font-size: 1.5rem;
    font-family: var(--font-secundary);
    border-bottom: 2px dashed #636363;
    height: 3rem;
    outline: none;
    margin: 1rem 0;
  }
  
  .input-group textarea {
    padding-top: 1rem;
    max-width: 25rem;
    max-height: 3rem;
  }
  
  .field-label {
    position: absolute;
    left: 0;
    top: 2rem;
    font-size: 1rem;
    font-family: var(--font-secundary);
    text-transform: uppercase;
    transition: all 0.3s;
  }
  
  .field:focus ~ label {
    top: 0;
    font-size: 0.7rem;
  }
  
  .field:focus {
    border-bottom: 1px solid;
  }
  
  .btn-submit {
    font-size: 1.2rem;
    text-transform: uppercase;
    width: 80%;
    height: 2.5rem;
    margin-top: 1rem;
    letter-spacing: 0.2rem;
    cursor: pointer;
    text-shadow: 0 0.1rem 0.3rem rgba(0, 0, 0, 0.5);
    box-shadow: 0 0.1rem 0.3rem rgba(0, 0, 0, 0.3);
  }
  
  .preenchido{
      pointer-events: none;
  }

  /*Aqui todos os estilos referentes a seção footer*/

  footer{
    width: 100%;
    background-color: #17181b;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-bottom: 30px;
  }
  
  .footer-content{
    width: 60%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-top: 20px;
    margin-bottom: 20px;
    
  }
  
  .footer-content p{
    font-family: var(--font-secundary);
    color: #a7a7a7;
    font-size: 2vh;
    margin-bottom: 20px;
  
  }
  
  .social-list a{
    margin: 0 2rem;
    color: #a7a7a7;
    font-size: 1.3rem;
  }
  
  .social-list ul {
    display: flex;
  }
  
  #link-topo{
    position: fixed;
    right: 3rem;
    bottom: 3rem;
    width: 3rem;
    height: 3rem;
    background: #0081AF;
    
    display: flex;
    justify-content: center;
    align-items: center;
    color: #fff;
    border-radius: .3rem;
    box-shadow: 0 2px 5px 2px rgba(0,0,0,.5);
  }
  @media (max-width: 1000px){
    
    .titulo{
      font-size: 12vw;
      margin: auto;
    }

    .nav-links-nav{
      display: none;
    }

    .hamburguer { 
      display: flex;
    }
    .sidebar {
      
      display: inline;
    }
    
    #myNavBar{

      
      box-shadow: 0 4px 2px -2px black;
    }
    
    
    
    .titulo{
    
      font-size: 10vw;
      
    }
    #mateus{
      font-size: 18vw;
      text-shadow: 2px 2px #D6D6D6;
     
    }
    
    

  }
  
  

